.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  .widgetLgButton.Approved{
    padding: 5px 7px;
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    padding: 5px 7px;
    background-color: #fff0f1;
    color: #d95087;

}
.widgetLgButton.Pending{
    padding: 5px 7px;
    background-color: #ebf1fe;
    color: #2a7ade;

}
.widgetLgImg {
    
    object-fit: cover;
    margin-right: 10px;
  }
  .widgetLgDate,.widgetLgAmount{
    font-weight: 300;
  }